@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

.menu-container{
  
}

.banar-container{
  height: 80vh;
  background-image: url('./assets/banner-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Rajdhani', sans-serif;
  
  /* position: relative; */
}

/* .banar-container::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #130f40af;
  z-index: 10;
} */


body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
